<section class="planner-section">
  <div class="planner-wrapper">
    <div class="planner-action-wrapper">
      <input
        class="task-input"
        (keyup.enter)="addTask()"
        [(ngModel)]="taskInputValue"
        type="text"
        placeholder="Add new task....">
      <button class="btn-add" (click)="addTask()">Add</button>
    </div>

    <button [ngClass]="{'filter-active': selectedFilterType ===filterType.All}" (click)="setSelectedFilterType(filterType.All)" >All</button>
    <button [ngClass]="{'filter-active': selectedFilterType ===filterType.Pending}" (click)="setSelectedFilterType(filterType.Pending)">Pending</button>
    <button [ngClass]="{'filter-active': selectedFilterType ===filterType.Done}" (click)="setSelectedFilterType(filterType.Done)">Done</button>


<!--   /* <button (click)="setVisibleTask(filterType.Pending)"*-->

    <div *ngFor="let task of visibleTasks; let i = index" class="planner-task">
      <div class="planner-task-description-wrapper">

        <div>
          <input class="planner-checkbox" [(ngModel)]="task.done" type="checkbox" (ngModelChange)="setPendingTaskCount()">
        </div>

        <!--      //<span>{{(i+1) + '' + task}}-->
        <p [ngClass]="{'task-done': task.done}" class="planner-task-description">{{ task.description }} </p>
      </div>

      <div>
        <button class="btn-delete" (click)="deleteTask(i)">x</button>
      </div>
    </div>

    <div *ngIf="plannerTasks.length > 0" class="planner-footer" >
      <span>You have {{ pendingTaskCount }} pending tasks </span>
      <button class="button-73" (click)="clearAllTasks()">Clear all</button>
    </div>
    <!--    {{ plannerTasks | json }}-->
  </div>
</section>

