<section class="user-section">

  <div *ngIf="users$ | async as users" class="user-table-position">
    <table class="user-table">

      <tr>
        <th *ngFor="let title of columnTitles">{{ title }}</th>
      </tr>

<!--      <tr *ngFor="let user of users" class="row" [routerLink]="['/users', user.id]">-->
      <tr *ngFor="let user of users" class="row" (dblclick)="navigate(user.id)">
        <td>{{ user.id }}</td>
        <td> {{ user.name }}</td>
        <td>{{ user.username }}</td>
      </tr>

    </table>
  </div>

</section>
