.card {
  background-color: steelblue;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35)0 5px 15px;
  border: 1px solid #eaffd0;
  display: flex;
  flex-direction: column;
  color: #daefec;

}
.card-img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 2 /1;
  background-image: url("https://cataas.com/cat");


}
.card-description {
  font-size: 20px;
  padding: 10px;
  flex-grow: 1;
}
.card-footer, .card-head{
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #95e1d3;
}

.btn-say-hi {
  margin-top: 20px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: #eaffd0;
  opacity: 0.9;
  color: #f38181;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-say-hi:hover {
 // background-color: #05445E ;
    opacity: 2;
}
/*.btn-say-hi {
  background-color: #daefec;
  color: #EF6461;
  border: none;
}*/

/*
.first-color {
  background: #f38181;
}

.second-color {
  background: #fce38a;
}

.third-color {
  background: #eaffd0;
}

.fourth-color {
  background: #95e1d3; */
