<div *ngIf="fact" class="card" >
  <div class="card-head">Created {{fact.createdAt | date: 'dd.MM.YYYY'}}</div>
  <img [src]="'https://picsum.photos/300/200?random=' + index" alt="cat" class="card-img">
  <p class="card-description">{{fact.text}}</p>
  <div class="card-footer">Updated {{fact.updatedAt | date: 'dd.MM.YYYY'}}</div>

  <!--    // ja fakti ir , tad pados, sho nevajag ja componente nonem ? no facts  facts: CatFact[] = [];//kura var saglabat-->
  <!--    {{ facts[0]?.text}}-->
  <button (click)="sayHi" class="btn-say-hi">Say</button>

</div>
